body {
  background-image: url("IMG_2178.png");
}

h1 {
  color: #FBC31F;
  font-family: "Raleway", sans-serif;
}

h2 {
  color: #FBC31F;
  text-decoration: underline;
  font-family: "Raleway", sans-serif;
}

p {
  color: #FBC31F;
  align-content: flex-end;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  color: #fff;
  background-color: #FBC31F;
  padding: 20px 0;
}

.menu {
  border: 1px solid #fff;
  width: 900px;
}

.gifs {
  color: #FB0A9B;
  margin: 10px;
  padding: 5px;
}

.gif2 {
  margin-left: 50px;
}

.gif3 {
  margin-left: 100px;
}

.gif4 {
  margin-left: 150px;
}

.gif5 {
  margin-left: 200px;
}
